@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot');
}

.swal2-title {
    font-size: 14px !important;
}

@layer base {
    :root {
        --accent: #4059B3;
        --primary: #D8D8D8;
        --secondary: #777777;
        --background-primary: #212121;  
        --background-secondary: #252525;
    }

    html {
        @apply text-primary;
    }

    input, button, a {
        @apply focus:outline-offset-2 focus:outline-secondary;
    }
}

@layer components {
    
 }

@layer utilities {
 
}