@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot");
}

.swal2-title {
  font-size: 14px !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@layer base {
  :root {
    --accent: #4059b3;
    --primary: #d8d8d8;
    --secondary: #777777;
    --background-accent: #212121;
    --background-primary: #1c1c1c;
    --background-secondary: #292929;
  }

  html {
    @apply text-primary;
  }

  input,
  button,
  a {
    @apply focus:outline-offset-2 focus:outline-secondary;
  }

  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }

  p {
    @apply mt-3;
  }

  .task-input {
    @apply w-full p-2 bg-transparent text-secondary transition-colors duration-300 rounded-md hover:bg-background-accent hover:cursor-pointer;
  }
}

@layer components {
}

@layer utilities {
}
